{% extends 'layout.html' %}

{% block body %}
    <h1>Dashboard <small>Welcome {{session.roll_number}}</small></h1>
<!--     <h2>Working to show some output !</h2> -->
    <table border="1" cellpadding="5" cellspacing = "5" >
        <div id="sem"></div>
        <script language = "JavaScript">
        $(document).ready(function() {
            var title = {
               text: 'CPGI visualization for the student'   
            };
            var series =  [{
                  name: 'Result',
                  data: {{ data }}
               }
            ];

            var json = {};
            json.title = title;
            json.series = series;
            
            $('#sem').highcharts(json);
         });
      </script>
    </table>
{% endblock %}