{% extends 'layout.html' %}

{% block body %}
    <h1>Dashboard <small>Welcome {{session.roll_number}}</small></h1>
    <h2>Working to show some output !</h2>
    <table border="1" cellpadding="5" cellspacing = "5" >
    	{% for row in data %}
    	<tr>
    		{% for d in row %}
    			<td>{{ row[d] }}</td>
    		{% endfor %}
    	</tr>
    {% endfor %}
    </table>
<!--     <table border="1" cellpadding="5" cellspacing = "5" >
	    <td>{{data.students__branch_name}}</td>
	    <td>{{data.students__cgpa}}</td>
	    <td>{{data.students_g_rank}}</td>
	    <td>{{data.students__name}}</td>
	    <td>{{data.students__points}}</td>
	    <td>{{data.students__rank}}</td>
	    <td>{{data.students__rollno}}</td>
	    <td>{{data.students__sgpa}}</td>
	    <td>{{data.students__year}}</td>
    </table> -->
{% endblock %}