{% extends 'layout.html' %}

{% block body %}
    <h1>Plagiarism checker for assignments</h1>
    <!-- <br><button type="button" onclick="alert('Hello world!')">Assignment 1</button>
    <br><br><button type="button" onclick="alert('Hello world!')">Assignment 2</button> -->
    <br>
    <form method="POST" enctype="multipart/form-data" action="/upload">
      <input type="file" name="file[]" multiple="">
      <input type="submit" value="Check Plagiarism">
    </form>
    <br>
    <ul>
      {% if data is iterable %}
        {% for result in data %}
            <hr>
            {% if result.URL != None %}
              <li>{{ result }}</li><br>
            {% endif %}
        {% endfor %}
      {% else %}
        <br>
        <h5> {{ data*100 }} percent plagiarism found. </h5>
      {% endif %}
      <hr>
    </ul>

{% endblock %}